@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Phudu:wght@300;400&display=swap');
$icon--color:#1e2023;
$font--color:#ffffff;
$font--color--active:#000000;
$font--primary:'Fira Sans', sans-serif;

@font-face {
	font-family: vorkurs;
	src: url(./fonts/II\ Vorkurs\ Medium.ttf);
}

@font-face {
	font-family: bison;
	src: url(./fonts/Bison.ttf);
}

@font-face {
	font-family: MullerNarrow;
	src: url(./fonts/MullerNarrow-Light.otf);
}

$transition--length: .8;

::-webkit-scrollbar{
	display: none;
}

*{
	box-sizing: border-box;
}

html{
	width: 100% !important;
	overflow-x: hidden;
}

body{
	font-family: $font--primary;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	// height: 100vh;
	// width: 100%;
}

.circle {
	--cursor-size: 40px;
	position: fixed;
	width: var(--cursor-size);
	height: var(--cursor-size);
	// background-color: #ec1c23;
	// background-color: #00FFFF;
	border: 2px solid #00FFFF;
	border-radius: 100%;
	top: calc(-1 * var(--cursor-size) / 2);
	left: calc(-1 * var(--cursor-size) / 2);
	pointer-events: none;
	z-index: 1005;
	mix-blend-mode: exclusion;
  }
  @media only screen and (max-width: 768px) {
	.circle{
		display: none;
	}
  }



//navbar Starts

.nav-container{
	display: flex;
	width: 100%;
	max-width: 100%;
	height: fit-content;
	// width: 100vw;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	z-index: 1001;
	align-items: center;
	// background-color: #0000004f;
}

.nav-icon{
	display: flex;
	align-items: center;
}


.navbar{
	display: flex;
    align-items: center;
    // height: 15vh;
    position: relative; 
    background-color: transparent;
}

.nav-logo{
	margin-top: 1rem;
	margin-left: 1rem;
	// height: 150px;
	width: 70px;
	// mix-blend-mode: difference !important;
	background-blend-mode: difference;
}

//default state
.menu-icon{
	mix-blend-mode: difference;
	$size: 30px;
    height: $size;
    width: $size;
    position: absolute;
    z-index: 1001;
	right: 30px;
	top: 30px;
	cursor: pointer;
	&__line{
		mix-blend-mode: multiply;
		height: 2px;
		width: $size;
		display: block;
		background-color: red;
		margin-bottom: 4px;
		transition: transform .2s ease, background-color .5s ease;
	}
	&__line-left{
		width: calc($size / 2);
	}
	&__line-right{
		width: calc($size / 2);
		float: right;
	}
}

.nav{
	display: flex;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1.5s, pointer-events 0.5s 0.5s;
	$width: 100vw;
    $height: 100vh;
    $font--size--calc: calc(2vw + 10px);
    $transition--easing: cubic-bezier(.77,0,.175,1);
    position: fixed;
    z-index: 1000;
	top: 0;
	left: 0;
	 background-color: rgba(red, 1);
	&:before,&:after{
		content: "";
		position: fixed;
		width:$width;
		height:$height;
		background: rgba(red, .2);
		z-index: -1;
		transition: transform $transition--easing $transition--length + s;
		transform: translateX(0%) translateY(-103%);
	}
	&:after{
		background: rgba(red, 1);
		transition-delay: 0s;
	}
	&:before{
		transition-delay: .1s;
	}
	&__content{
		position: fixed;
		top:50%;
		transform: translate(0%,-50%);
		width: 100%;
    	text-align: center;
		font-size: $font--size--calc;
		font-weight: 200;
		cursor: pointer;
	}
	&__list{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5vw;
		padding: 0;
	}
	&__list-item{
		text-decoration: none;
		position: relative;
		display: inline-block;
		transition-delay: $transition--length + s;
		opacity: 0;
		transform: translate(0%, 100%);
		transition: opacity .2s ease, transform .3s ease;
		// margin-right: 25px;
		color: #ffffff;
		&:before{
			content: "";
			position: absolute; 
			background: #ffffff;
			width: 20px;
			height: 1px;
			top: 100%;
			transform: translate(0%, 0%);
			transition: all .3s ease;
			z-index: -1;
		}
		&:hover{
			&:before{
				width: 100%;
			}
		}
	}
}
.nav__list-item a {
	color: #ffffff;
	text-decoration: none;
}

//active state
.nav-container.nav-active{
	$menu--items--count: 5;
	.menu-icon{
		&__line{
			background-color: #ffffff;
			transform: translateX(0px) rotate(-45deg);
			mix-blend-mode: difference;
		}
		&__line-left{
			mix-blend-mode: difference;
			transform: translateX(1px) rotate(45deg);
		}
		&__line-right{
			mix-blend-mode: difference;
			transform: translateX(-2px) rotate(45deg);
		}
	}
	.nav{
		opacity: 1;
		pointer-events: all;
		transition: opacity 1s, pointer-events 0s;
		visibility:visible;
		&:before,&:after{
			transform: translateX(0%) translateY(0%);
		}
		&:after{
			transition-delay: .1s;
		}
		&:before{
			transition-delay: 0s;
		}
		&__list-item{
			opacity: 1;
			transform: translateX(0%);
			transition: opacity .3s ease, transform .3s ease, color .3s ease;
			@for $i from 0 through $menu--items--count {
				&:nth-child(#{$i}){
					transition-delay: calc($transition--length * $i / 8) + .5 + s;
				}
			}
		}
	}
}


@media (max-width: 768px) {

	.nav-logo{
		margin-left: 0.5rem;
		// height: 70px;
		width: 50px;
	}
	.nav {
		&__content {
			font-size: calc(4vw + 8px); // A bit larger for readability on small screens
		}
		&__list{
			flex-direction: column;
		}
	}
}
//navbar Ends




//Hero Section
.container-hero{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.hero img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hero{
	height: 150vh;
	width: 100%;
	position: absolute;
}

.slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: red;
	z-index: -1;
	overflow-x: hidden;
	transform-origin: center right;
}

.headline{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family:vorkurs;
	position: absolute;
	top: 20%;
	left: 8%;
	line-height: 1;
	color: red;
	z-index: 5;

	img{
		width: 30%;
		height: auto;
	}
	.scrollDown-icon{
		display: none;
	}
}
.headline h1{
	font-family:vorkurs;
	font-size: 4rem;
	font-weight: 900 !important;
	-webkit-text-stroke: 1px #EC1C24;
	text-transform: uppercase;
	margin-top: 0.5rem;
	line-height: 1;
	color: #EC1C24;
	z-index: 5;
}


.hero::after{
	content: "";
	background: #000000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0.1;
}

.spacer{
	background-color: #000000;
	height: 100vh;
}

@media only screen and (max-width: 768px) {
	.container-hero{
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100vh;
	}

	.hero{
		height: 100vh;
		width: 100%;
	}

	.hero img{
		position: absolute;
		right: 0;
		object-fit: cover;
		object-position: 65% 70%;
	}
	.headline{
		width: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
		top: 20%;	
		left: 0;
		z-index: 5;
		transform: translateX(0);
		img{
			left: 0;
			margin: 0 auto;
			position: relative;
			width: 60%;
			display: block !important;
		}

		h1{
			font-size: 1rem;
		}
		.scrollDown-icon{
			display: block;
		}
	}
	
}

// Hero Ends




//Goal Starts




// .para-wrapper{
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: end;
// 	height: 80px;
// }

.para-wrapper {
	margin-top: 2%;
	height: auto;
	// line-height: 0.8;
    overflow: hidden;
    .mask {
		height: 100%;
        overflow: hidden;
    }
    span {
        display: block; // ensures each span is on a new line
        transform: translateX(200%); // start from 
		font-size: 1rem;
    }
}

// For tablets and below
@media (max-width: 768px) {
    .para-wrapper span {
        font-size: 0.8rem; 
    }
}

// For mobile devices
@media (max-width: 480px) {
    .para-wrapper span {
        font-size: 0.8rem; 
    }
}

.goal-text h1{
	font-family: $font--primary;
	margin: 0;
	padding-bottom: 0;
}
.goal-para{
	color: dimgrey;
	font-size: 17px;
	letter-spacing: 2px;
}

.line {
    position: relative;
	height: 20px;
}
.line span{
	position: absolute;
	line-height: 1em;
}



//

.title-mask{
	overflow: hidden;
}

.title{
	transform: translateY(100%);
	font-size: 48px;
	font-weight: 450;
	text-transform: uppercase;
}

//video Start

.section-video {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-10px);
  }

.video-spacer{
	height: 3vh;	
}


.video-scroll {
	object-fit: cover;
	max-width: 100%;
	width: 70%;
	height: auto;
	display: block;
	margin: 0 auto;
	transform-origin: center center;
	transition: width 0.5s;
  }

.video-container {
	height: fit-content;
	width: 100%;
	transform-origin:  center;
	transform: translateY(70%);
	scale: 0;
	// width: 100%; /* Adjust this to your desired starting width */
	overflow: hidden;
	// margin-left: 10%;
 }
 
.video-container video {
	width: 100%;
	height: 100vh;
 }

@media only screen and (max-width: 768px) {
	.video-scroll{
		width: 100%;
	}
	.video-container{
		transform: translateY(0);
		scale: 100%;
	}
	.video-container video{
		height: auto;
	}
}




//marquee start

.marquee-spacer{
	height: 40vh;
}

.marquee {
	position: absolute;
	transform: translateY(-45%);
	z-index: 5;
	letter-spacing: 2vw;
	width: 100%;
	overflow-x: hidden;
	line-height: 1;
	user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
	mix-blend-mode: multiply;
}

//marquee 1
.marquee1 {
	position: relative;
	font-weight: 600;
	font-size: 164px;
	text-transform: uppercase;
	overflow: hidden;
	color: #EC1C24;
	mix-blend-mode: overlay;
	margin: 0;
}

.marquee__inner{
	display: flex;
	width: fit-content;
	flex: auto;
	flex-direction: row;
	margin: 0;
}

.marquee__part{
	display: flex;
	align-items: center;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
}

//marquee 2
.marquee2 {
	position: relative;
	font-weight: 600;
	font-size: 164px;
	text-transform: uppercase;
	overflow: hidden;
	color: #EC1C24;
}

.marquee__inner2{
	display: flex;
	width: fit-content;
	flex: auto;
	flex-direction: row;
}

.marquee__part2{
	display: flex;
	align-items: center;
	flex-shrink: 0;
}


@media only screen and (max-width: 768px) {
	.marquee-spacer{
		height: 20vh;
	}
	.marquee{
		transform: translateY(0%);
	}
	.marquee1{
		font-size: 48px;
	}
	.marquee2{
		font-size: 48px;
	}
}






// Achievements

.achievements-wrapper{
	margin: 4% 0;
}

.section-achievements {
	height: fit-content;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 2% 0;
	font-size: 24px;
	// gap: 20px;
  }
  
  .achievement-grid {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
  }
  
  .achievement-tab {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 5% 1.5%;
	padding: 0;
	

  }
  
  .achievement-text{
	padding-left: 3%;
	width: 100%;
	font-family: MullerNarrow;
	font-size: 0.5em;
	font-weight: bold;
	display: flex;
	align-self: flex-end;
  }

  .count {
	//   text-transform: uppercase;
	  display: flex;
	  justify-content: center;
	//   align-items: flex-start;
	  text-align: left;
	  font-size: 1.5em;
	  font-weight: 700;


	
	
	span{
		display: block;
		font-family: bison;
		// display: flex;
		text-align: right;
		line-height: 0;
		font-size: 9rem;
		color: #EC1C24;
	}
	
  }

  @media only screen and (max-width: 768px) {

	.achievements-wrapper{

		height: fit-content;
	}

	.achievement-grid{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.section-achievements{
		max-width: 100%;
		font-size: 16px;
		text-align: center;
		justify-content: center;
	}
	.achievement-tab {
		
		flex-basis: 40%; /* Adjusted width for two tabs per row */
		margin-bottom: 5%; /* Added margin to space out the rows */
	  }
	.achievement-text{
		font-size: 0.7em;
	}
	.count{
		flex-direction: column; /* Display the big number and text in a column */
        align-items: center; /* Center align items */
        text-align: center; /* Center align text */
		font-size: 0.8em;
		font-weight: bolder;
		flex-direction: column;
		text-align: center;
		flex-direction: column;
		gap: 25px;
		span{
			font-size: 3rem;
		}
	}


  }
  
  
  







// block
.block-div {
	height: 70vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	// align-items: center;
	// justify-content: center;
	overflow: hidden;
  }
  
  .block-img {
	width: 100%;
	// display: flex;
	// align-items: center;
	// justify-content: center;
  }

  .image-slider {
	height: 100%;
	width: 100%;
	// width: 50%;
	// position: relative;
	// display: flex;
	object-fit: cover !important;
	// object-position: bottom;
	cursor: url('/assets/img/hand-grab-o-32.png'), grab;
	user-select: none;
  }

  .slide img {
	bottom: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	object-fit: fill;
	

  }
  
  .color-block {
	display: none;
	height: 40%;
	width: 10%;
	background-color: #EC1C24;
  }

  @media only screen and (max-width: 768px) {
	.block-div{
		height: auto;
	}
	.block-img{
		width: 100%;
	}
	.color-block{
		visibility: hidden;
	}
	.image-slider{
		height: 100%;
		
	}
  }
  
  
  
  
  
  

  
  
  



// long image

	.long-img-parent {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;
	}

	.goals-text {
		width: 50vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-self: flex-start;
		padding: 1rem;
		text-align: left;

	}

	.goals-text h2 {
		margin: 0;
		margin-top: 2rem;
		
	}


	.goals-title{
		font-family: vorkurs;
		font-weight: bolder;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #EC1C24;
	}

	.goals-content{
		font-family: MullerNarrow;
		font-size: 1.2rem;
		font-weight: bold;
		width: 80%;
		line-height: 1.7rem;
	}
	
	.goals-content span{
		font-family: MullerNarrow;
		font-size: 1.2rem;
		font-weight: bold;
		width: 100%;
		line-height: 1.9rem;
	}

	.long-img {
		width: 50vw;
		position: relative;
	}

	.image-carousel {
		height: 100%;
		overflow: hidden;
		width: 80%;
		position: relative;
		display: flex;
	}

	.carousel-slide {
		width: 100%;
		flex-shrink: 0;
		object-fit: cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.carousel-slide img {
		width: 100%;
		height: 100%;
		object-fit: cover !important;
	}

	.long-title {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 10;
		width: 100%;
		margin-top: 2rem;
		mix-blend-mode: multiply;
	}

	.long-title h1 {
		color: #EC1C24;
		margin: 0;
		text-transform: uppercase;
		font-size: 7rem;
		letter-spacing: 3rem;
		position: relative;
		mix-blend-mode: difference;
	}


	@media only screen and (max-width: 768px) {
		.long-img-parent{
			flex-direction: column;
		}
		.goals-text{
			width: 100%;
			height: fit-content;
			text-align: center;
		}
		.goals-content{
			width: 100%;
		}
		.long-img{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.long-title{
			position: relative;
			margin-top: 0;
			padding: 2rem 0;
		}
		.long-title h1{
			font-size: 3rem;
			letter-spacing: 10px;
		}
	}



//goals-2
.goals-2 {
	display: flex;
	flex-direction: row;
	height: 70vh;
  }
  
  .goals-2-img {
	img{

		width: 100%;
	}
  }
  
  .goals-image-slider {
	height: 70vh;
	width: 100%;
	position: relative;
	overflow: hidden;
  }
  
  .slide img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
  }
  
  .goals-2-content {
	display: flex;
	width: 50%;
  }
  
  .goals-2-text {
	width: 70%;
	margin: 1em;
	line-height: 1.5;
  }
  
  .title-2 {
	transform: translateY(50%);
	opacity: 0;
	// font-size: 48px;
	font-weight: bolder;
	text-transform: uppercase;
	margin: 5%;
	margin-left: 0;
	margin-bottom: 0;
  }
  
  .para-wrapper-2 {
	// margin-top: 2%;
	height: 100%;
	// overflow: hidden;
  
	span {
	  display: block;
	  transform: translateX(50%);
	  opacity: 0;
	  font-size: 1rem;
	}
  }


  @media only screen and (max-width: 768px) {
	.goals-2{
		flex-direction: column;
		height: fit-content;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.goals-2-img{
		width: 100%;
	}
	.goals-image-slider{
		height: auto;
	}
	.goals-2-content{
		justify-content: center;
		width: 100%;
		text-align: center;
	}
	.title-2{
		transform: translateY(0%);
		opacity: 1;
	}
	.para-wrapper-2{
		span{
			transform: translateX(0%);
		}
	}
  }
  

//   mini-marquee

.mini-marquee {
	letter-spacing: 2vw;
	width: 100vw;
	overflow-x: hidden;
	line-height: 1.5;
	user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
	margin: 6vh 0;
	mix-blend-mode: multiply;
}
.mini-marquee1 {
	position: relative;
	font-weight: 600;
	font-size: 64px;
	text-transform: uppercase;
	overflow: hidden;
	color: rgb(237,29,36);
	mix-blend-mode: overlay;
	opacity: 0.9;
	margin: 0;
}
.mini-marquee2 {
	position: relative;
	font-weight: 600;
	font-size: 64px;
	text-transform: uppercase;
	overflow: hidden;
	color: rgb(237,29,36);
	mix-blend-mode: overlay;
	opacity: 0.9;
	margin: 0;
}

//picfx

.picfx{
	// width: 90%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: red;
	user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edg */
}

.beer-slider {
	*,
	&:before,
	&:after,
	*:before,
	*:after {
	  box-sizing: border-box;
	}
	width: 90%;
	display: inline-block;
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: center;
  
	svg {
	  vertical-align: top;
	}
  }
  .beer-reveal {
	--width: 50%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	clip-path: polygon(0 0, var(--width) 0, var(--width) 100%, 0 100%);
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.35s;
  }
  
  .beer-range {
	position: absolute;
	z-index: 2;
	bottom: 0;
	height: 6rem;
	margin: 0;
	left: -1px;
	width: calc(100% + 2px);
	// width: 20%;
	cursor: pointer;
	// -webkit-appearance: slider-horizontal !important;
	// -moz-appearance: none;
	opacity: 0;
	-ms-touch-action: auto;
	touch-action: auto;
  
	&::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  height: 300vh;
	}
	&::-moz-range-thumb {
	//   -webkit-appearance: none;
	  height: 300vh;
	}
	&::-ms-tooltip {
	  display: none;
	}
  }
  
  .beer-ready {
	&,
	image,
	.beer-reveal,
	.beer-handle {
	  opacity: 1;
	}
  }
  
  .beer-slider {
	width: 100%;
	height: 70vh;
  }
  .ctnr {
	height: 70vh;
  }
  
  .beer-handle {
	position: absolute;
	z-index: 2;
	pointer-events: none;
	opacity: 0;
	background: red;
	color: #fff;
	transition: opacity 1s;
	transform: translateX(-50%);
	height: 6rem;
	// width: 30%;
	width: 100%;
	left: 50%;
	bottom: 0;
	// border-radius: 20px 20px 0 0;
	clip-path: url(#svgPath);
	&:before,
	&:after {
	  content: "";
	  position: absolute;
	  width: 10px;
	  height: 10px;
	  top: 50%;
	  border-top: solid 2px;
	  border-left: solid 2px;
	  transform-origin: 0 0;
	}
	&:before {
	  left: calc(50% - 20px);
	  transform: rotate(-45deg);
	}
	&:after {
	  right: calc(50% - 30px);
	  transform: rotate(135deg);
	}
  }
  
  h2 {
	font-size: 4rem;
	line-height: 1;
  }
  .b {
	position: absolute;
	top: 2rem;
	width: 50%;
	max-width: 700px;
  }
  .b * {
	opacity: 0;
	transform: translate3d(0, 2rem, 0);
	transition: 1s;
  }
  .b h2{
	font-family: vorkurs;
  }
  .b p{
	font-family: MullerNarrow;
  }
  .b1 h2{
	padding: 0.5rem;
	width: fit-content;
	font-family: vorkurs;
	background-color: #ffa20051;
  }
  .b1 p{
	padding: 0.5rem;
	width: fit-content;
	font-family: MullerNarrow;
	background-color: #593800bd;
  }
  .b1 {
	left: 4rem;
	z-index: 1;
	color: white;
  }
  .b2 {
	right: 4rem;
	z-index: 1;
	color: white;
  }
  
  .more .b1 * {
	opacity: 1;
	transform: translate3d(0, 0, 0);
  }
  
  .less .b2 * {
	opacity: 1;
	transform: translate3d(0, 0, 0);
  }
  .ctnr:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  }
//   .ctnr-summer:after {
// 	background: linear-gradient(135deg, rgba(255, 166, 0, 0.256), transparent);
//   }
  
//   .ctnr-winter:after {
// 	// background: linear-gradient(-135deg, black, transparent);
//   }
  
  image {
	transition: 0.6s;
	opacity: 0;
  }
  
  p {
	letter-spacing: 1px;
  }
  
  @media (max-width: 37.5em) {
	h2 {
	  font-size: 2rem;
	}
	.b1 {
	  left: 2rem;
	}
	.b2 {
	  right: 2rem;
	}
	.ctnr-summer:after {
	  background: linear-gradient(180deg, #2a2d4e, transparent 120%);
	}
  }
  
  .main {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
  }
  .main h2{
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 1.2;
	font-size: 2em;
	font-family: vorkurs;
  }
  .main p{
	font-size: 1.2rem;
	font-family: MullerNarrow;
	font-weight: lighter;
	color: white;
	letter-spacing: 4px;
  }


  @media only screen and (max-width: 768px) {
	.picfx{
		display: none;
	}
  }



  


// Projects

.ourprojects-title{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: vorkurs;
	color: red;
	font-size: clamp(1rem, 4vw, 5rem);
	// letter-spacing: 0.5rem;
	user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edg */
	h1{
		margin: 3% 0;
		font-weight: 500;
	}
}

.projects {
	cursor: url('/assets/img/hand-grab-o-32.png'), grab;
	user-select: none;
	&:active{
	  cursor: url('/assets/img/hand-grab-o-32.png'), grabbing;
	}
  }
  
  

.projects {
	width: 100vw;
	height: 70vh;
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	white-space: nowrap; /* This will ensure our projects are in one line */
	user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edg */
  }
  
  .projects::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
  }
  
  .project-wrapper {
	display: flex;
	// align-items: stretch;
	height: 100%;
  }

  .projects-scrollbar{
	scrollbar-width: thin;
	scrollbar-color: #EC1C24 transparent;
  }
  
  .project-card {
	flex: 0 0 calc(100% / 4); /* ensures 5 projects show at a time */
	background-size: cover;
	background-position: center;
	height: 100%;
	position: relative;
	transform: scale(1);
	transition: transform 0.3s, filter 0.3s;
	background-blend-mode: darken;
  }
  
  .project-card:hover {
	transform: scale(1.05);
	// filter: brightness(0.7);
  }
  .project-card:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to top, rgb(252, 1, 1), rgba(0,0,0,0));
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .project-card:hover::before {
	opacity: 1;
  }
  
  .project-title {
	text-decoration: none;
	font-family: vorkurs;
	font-size: clamp(1rem, 4vw, 2.5rem);
	font-weight: normal;
	position: absolute;
	bottom: 7%;
	left: 50%;
	text-align: left;
	transform: translateX(-50%);
	color: white;
	padding: 0 10px;
	opacity: 0;
	transition: opacity 0.7s;
  }
  
  .project-card:hover .project-title {
	opacity: 1;
  }

@media only screen and (max-width: 768px) {
	.projects-section-wrapper{
		margin-top: 1rem;
	}
	.ourprojects-title{
		color: #e4e4e4;
		background-color: #EC1C24;
	}
	.projects{
		height: 40vh;
	}
	.project-card{
		flex: 0 0 calc(100% / 2);
	}
	.project-title{
		font-weight: lighter;
		text-transform: none;
		opacity: 1;
		background-color: #EC1C24;
	}
  }









//project-button
	  .content {
		margin: 5em 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		position: relative;
		text-align: center;
	}
	
	.btn-wrapper {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		width: 50vw;
		position: relative;
	}
	
	.btn {
		display: inline-flex;
		color: #ED1D24;
		padding: 32px;
		position: relative;
		letter-spacing: 1px;
		width: auto;
		justify-content: center;
		align-items: center;
	}
	
	.btn__circle,
	.btn__text,
	.btn__white-circle {
		position: absolute;
	}
	
	.btn__circle {
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 50%;
		width: 100%;
		box-shadow: 0 0 2px 2px #ED1D24;
		transition: 0.3s linear;
	}
	
	.btn__white-circle {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		width: 56px;
		height: 56px;
		border-radius: 100%;
		background: #ED1D24;
		box-shadow: 0 0 5px 1px #850e12;
		display: flex;
		transition: 0.3s ease-in-out;
	
		svg {
			width: 24px;
			height: 24px;
			margin: auto;
		}
	}
	
	.btn__text {
		font-family: vorkurs;
		font-size: 3em;
		top: 50%;
		transform: translateY(-50%);
		white-space: nowrap;
		z-index: 2;
		padding: 24px 8px;
		transition: 0.3s linear;
	}
	
	.btn:hover {
		.btn__circle {
			transform: scale(0);
		}
	
		.btn__white-circle {
			transform: translate(-50%, -50%) scale(1);
		}
	
		.btn__text {
			transform: translate(55%, -50%);
		}
	}


	@media only screen and (max-width: 768px) {
		.content{
			margin: 3rem 0;
		}
		.btn__text{
			font-size: 2rem;
		}
		.btn:hover{
			.btn__text{
				transform: translate(0%, 10%);
			}
		}
	}
	


  //projects end



//   footer start

.footer{
	width: 100%;
	background-color: #ED1D24;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem 0;
	// text-align: center;
}
.headtitle{
	font-family: vorkurs;
	text-transform: uppercase;
	width: 80%;
	z-index: 1;
	font-size: clamp(1rem, 4vw, 3rem);
	color: #e4e4e4;
	// margin-top: 2em;
	display: flex;
}

.footer-separator{
	width: 80%;
	height: fit-content;
	padding: 0;
	display: flex;
	gap: 10%;
	// justify-content: space-between;
}

.email-footer{
	font-family: MullerNarrow;
	display: flex;
	gap: 10px;
	width: 50%;
}

.mail-details{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.mail-content{
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.input-footer{
	padding: 10px;
	margin-bottom: 1rem;
	font-family: MullerNarrow;
	&::placeholder{
		color: #EC1C24;
		opacity: 0.7;
	}
	&:focus{
		color: #e4e4e4;
		background-color: #EC1C24;
		outline: none;	
		border: solid 1px #e4e4e4;	
	}
}

.input-mail-content{
	padding: 10px;
	font-family: MullerNarrow;
	&::placeholder{
		color: #EC1C24;
		opacity: 0.7;
	}
	&:focus{
		color: #e4e4e4;
		background-color: #EC1C24;
		outline: none;	
		border: solid 1px #e4e4e4;	
	}
	
}

.sendEmail-button{
	color: #e4e4e4;
	background-color: #EC1C24;
	border: solid 1px #e4e4e4;
	padding: 10px;
	transition: all 200ms ease;
	&:hover{
		border: 1px solid #1e2023;
		color: #e4e4e4;
		background-color: #1e2023;
	}
}

.contact-details{
	width: 40%;
	font-family: vorkurs;
	align-items: start;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #e4e4e4;
}
.contact-row{
	font-size: 22px;
	width: 100%;
	height: 30%;
	display: flex;
	align-items: center;
	gap: 15px;
	&:first-child {
		gap: 10px;
		transform: scale(200%);
		transform-origin: left;
	}
	a{
		color: #e4e4e4;
	}
}

.footer-color-block{
	background-color: #EC1C24;
	color: #e4e4e4;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: MullerNarrow;
	font-weight: 100;
}

@media only screen and (max-width: 768px) {
	.headltitle{
		width: 90%;
	}
	.footer-separator{
		width: 90%;
		flex-direction: column	;
	}
	.email-footer{
		flex-direction: column;
		width: 100%;
		margin-bottom: 1rem;
	}
	.mail-details{
		width: 100%;
	}

	.contact-details{
		width: 100%;
		align-items: center;
		justify-content: center;
		// text-align: center;
		gap: 2rem;
	}
	.contact-row{
		align-items: center;
		justify-content: center;
		&:first-child {
			gap: 10px;
			transform: scale(1);
			transform-origin: left;
		}
	}
	.address-line-footer{
		flex-direction: column;
		text-align: center;
	}
}










// Specific project Start

.specificProject-hero {
	position: relative;
	width: 100vw;
  }
  
  .specificProject-heroImage {
	transform: translateX(-100%);
	// transform-origin: left;
	transition: all 1s ease-out;
	padding-top: 15vh;
	width: 100%;
	height: 100vh;

	
  
	img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover; /* Use 'cover' to ensure the entire image is visible */
	  object-position: bottom;
	  z-index: -1;
	}
  }
  
  .project-textCard {
	position: absolute;
	top: 10vh;
	left: 0;
	width: 15%;
	color: #e4e4e4;
	background-color: #EC1C24;
	height: 50%;
	z-index: 2;
	padding: 1rem; /* Add padding for content inside the card */
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	gap: 1rem;


	transform: scaleY(0%);
	transform-origin: top;
	transition: all 1s ease;

	h3 {
	  margin: 0;
	  font-size: 1.5rem; /* Adjust font size as needed */
	  font-family: vorkurs;
	  text-transform: uppercase;
	}
  
	p {
	  margin: 0;
	  font-size: 1rem; /* Adjust font size as needed */
	  font-family: MullerNarrow;
	}
	// img{
	// padding: 2rem 0;

	// }
  }

@media only screen and (max-width: 768px) {
	.specificProject-heroImage{
		padding-top: 10vh;
		height: auto;
		overflow: hidden;
		img{
			width: 100%;
			// height: 40vh;
			height: auto;
			object-position: 100% 100%;
		}
	}

	.project-textCard{
		width: 30%;
		padding: 0.5rem;
		height: fit-content;
		justify-content: flex-start;
		h3{
			font-size: 16px;
		}
		p{
			font-size: 10px;
		}
	}
}
  
// descriptionBox

.description-box{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.descriptionBox-white{
	width: 50%;
	padding: 2rem;
	line-height: 1.4rem;
	h1{
		margin: 0;
		font-family: vorkurs;
		color: #EC1C24;
		transform: translateY(50%);
		opacity: 0;
	}
	p{
		transform: translateY(50%);
		opacity: 0;
		font-family: MullerNarrow;
	}
}
.descriptionBox-red{
	width: 100%;
	background-color: #EC1C24;
	color: #e4e4e4;
	display: flex;
	gap: 3rem;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	padding: 5rem 1rem;
	flex-wrap: wrap;

	.descriptionBox-red-infoBox{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		
		h3{
			text-align: center;
			font-family: vorkurs;
			font-size: 30px;
			margin: 0;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
			transform: translateY(50%);
			opacity: 0;
		}
		p{
			font-size: 28px;
			text-align: center;
			margin: 0;
			transform: translateY(50%);
			opacity: 0;
			width: fit-content;
			font-family: MullerNarrow;
		}
		img{
			height: 100px;
		}
	}

}

@media only screen and (max-width: 768px){
	.descriptionBox-white{
		width: 85%;
		padding: 1rem;
		h1{
			font-size: 24px;
			transform: translateY(0%);
			opacity: 1;
		}
		p{
			font-size: 16px;
			transform: translateY(0%);
			opacity: 1;
		}
	}
	.descriptionBox-red{
		flex-direction: column;
		padding: 0.5rem;
		gap: 1.5rem;
		p{
			width: 85%;

		}
		.descriptionBox-red-infoBox{
			h3{
				font-size: 24px;
			}
			p{
				font-size: 16px;
			}
		}
	}
}

// Image Description

.imageDescription{
	width: 100%;
	overflow: hidden;
	height: 110vh;
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;

}
.imageDescription-left{
	width: 49%;
	height: auto;
	overflow: hidden;
	transform: translateX(-25%);
	opacity: 0;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.imageDescription-right{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: end;
	text-align: right;
	justify-content: space-around;
	gap: 1rem;

	img{
		width: 100%;
		height: 50%;
		object-fit: cover;
		transform: translateX(25%);
		opacity: 0;
		// margin: 1rem 0;
	}
	
}

.imageDescription-right-text{
	margin-right: 3rem;
	padding: 1rem 0;
	h3{
		transform: translateX(25%);
		opacity: 0;
		margin: 0;
		font-size: 40px;
		color: #EC1C24;
		font-family: vorkurs;
	}
	p{
		transform: translateX(25%);
		opacity: 0;
		font-family: MullerNarrow;
		font-size: 1rem;
	}
}

@media only screen and (max-width: 768px) {
	.imageDescription{
		flex-direction: column;
		align-items: center;
		gap: 10px;
		height: fit-content;
	}

	.imageDescription-left{
		width: 100%;
	}

	.imageDescription-right{
		width: 100%;
		align-items: center;
		text-align: center;
	}
	
	.imageDescription-right-text{
		margin-right: 1rem;
		padding: 1rem;
		h3{
			font-size: 24px;
		}
		p{
			font-size: 16px;
		}
	}
}

// Image Description ends

.imageGallery {
	margin-top: 3rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .imageGallery-header {
        h1 {
            font-size: 4rem;
            color: #EC1C24;
            font-family: vorkurs;
        }
    }

    .imageGallery-images {
		display: flex;
		flex-direction: column;
		margin: 0 1rem;
		width: fit-content;
		overflow-x: scroll;
		gap: 20px;
		margin-bottom: 3rem;
		scrollbar-width: thin; 
		scrollbar-color: #EC1C24 transparent;
		white-space: nowrap; 
		// user-select: none;
		cursor: grab;
		&:active{
			cursor: grabbing;
		}

		&::-webkit-scrollbar {
			width: 10px; /* Adjust the width of the scrollbar */
		  }
		
		  &::-webkit-scrollbar-thumb {
			background-color: #EC1C24; /* Color of the thumb */
			border-radius: 10px; /* Radius of the thumb corners */
		  }
		
		  &::-webkit-scrollbar-track {
			background-color: transparent; /* Set track color to transparent */
		  }
		
		

        .imageGallery-row1,
		.imageGallery-row2 {
			display: flex;
			flex-shrink: 0;
			gap: 1rem;
			transition: transform 0.3s ease;
			user-select: none;
			img {
				cursor: pointer;
				height: 35vh;
				width: 60%;
				margin: 0.5rem;
				transition: transform 0.3s ease;
				object-fit: cover;
				&:hover {
					transform: scale(1.05);
				}
			}
		}
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-content {
        position: relative;
        max-width: 100%;
        height: 90%;
        overflow: scroll;
        // background: white;
        border-radius: 8px;
        // padding: 20px;

        img {
            // width: 100%;
            height: 100% !important
            // object-fit: cover;
        }

        .close-btn {
            position: fixed;
            top: 10vh;
            right: 10px;
            font-size: 64px;
            cursor: pointer;
            color: white; // Set color to white
        }
    }
}

@media only screen and (max-width: 768px) {
	.imageGallery{
		margin: 1rem 0;
		gap: 10px;
		.imageGallery-header{
			h1{
				font-size: 2rem;
			}
		}
		.imageGallery-images{
			.imageGallery-row1,
			.imageGallery-row2{
				gap: 0;
				img{
					height: 20vh;
					width: 45%;
				}
			}
		}
	}
}



// Amenities 

.amenities-section {
    margin: 3rem 0;
	margin-bottom: 4rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .amenities-header {
        h1 {
            font-size: 4rem;
            color: #EC1C24;
            font-family: vorkurs;
        }
    }

    .amenities-list {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
		align-items: center;
		justify-content: center;
		text-align: center;
		place-content: center center;
        gap: 20px;
        // padding: 0 20px;
        margin-top: 2rem;

        .amenity {
            background-color: #fff;
            color: #EC1C24;
            padding: 1rem;
            text-align: center;
            border-radius: 8px;
            font-size: 1.3rem;
			font-family: vorkurs;
			align-items: center;
			justify-content: center;
            // font-weight: bold;
            transition: background-color 0.3s ease;

			transform: translateY(-25%);
			opacity: 0;

            &:hover {
                
				background-color: #EC1C24;
            	color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
	.amenities-section{
		margin: 2rem 0;
		.amenities-header h1{
			font-size: 2rem;
			margin: 0.5rem 0;
		}
		.amenities-list{
			grid-template-columns: repeat(3, 1fr);
			gap: 0;
			.amenity{
				font-size: 0.7rem;
				padding: 0.7rem;
			}
		}
	}
}




// Specific Project Ends







//About Us Page Starts



// About us hero
.aboutHero{
	overflow: hidden;
	position: relative;
	display: flex;
	width: 100%;
	// justify-content: center;
}
.aboutHero-content{
	display: flex;
	// align-items: flex-end;
	// justify-content: center;
	height: 100vh;
	width: 100%;
	// padding: 1rem;
	padding: 0;
	margin: 0;
	
	.aboutHero-content-left{
		width: 50%;
		display: flex;
		align-items: end;
		justify-content: start;
		text-align: left;
		
		.aboutHero-content-left-bgImage{
			width: 45%;
			padding: 1rem;
			// padding-top: 0;
			position: absolute;
			opacity: 0.04;
			z-index: -5;
			img{

				width: 80% !important;
				height: auto;
			}
		}
		.aboutHero-content-left-text{
			width: 90%;
			padding: 1rem;
			padding-left: 4rem;


			h1{
				font-family: vorkurs;
				font-size: 4rem;
				text-transform: uppercase;
				font-weight: bolder;
				color: #EC1C24;
			}
			p{
				font-family: MullerNarrow;
				font-size: 24px;
				text-align: justify;

			}
		}

	}

	.aboutHero-content-right{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		.aboutHero-content-right-img{
			height: 60%;
			width: auto;
			overflow: hidden;
			img{
				width: 100%;
				height: auto;
			}
		}
		.aboutHero-content-right-text{
			width: 100%;
			height: 40%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-start;
			padding: 1rem 3rem;
			.text-name{
				margin: 0;
				font-family: vorkurs;
				font-size: 24px;
				text-transform: uppercase;
				color: #EC1C24;
			}
			.text-designation{
				font-family: MullerNarrow;
				font-weight: lighter;
				font-size: 22px;
				margin: 0;
				font-style: oblique;
			}
			.text-para{
				margin: 0.1rem;
				font-family: MullerNarrow;
				font-size: 10px;
				text-align: justify;
				font-weight: bold;
			}
			.text-quote{
				width: 80%;
				font-family: MullerNarrow;
				font-style: oblique;
				text-align: right;
			}
		}
	}

}

@media only screen and (max-width: 768px){
	.aboutHero-content{
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		height: fit-content;
		
		.aboutHero-content-left{
			width: 100%;
			text-align: center;
			justify-content: center;

			.aboutHero-content-left-bgImage{
				display: none;
			}
			.aboutHero-content-left-text{
				width: 100%;
				padding-left: 0;
				padding: 0.5rem;
				margin-top: 10vh;
				
				h1{
					font-size: 1rem;
					margin-bottom: 0;
				}
				p{
					font-size: 12px;
				}
			}
		}
		.aboutHero-content-right{
			width: 100% !important;
			justify-content: flex-start;

			.aboutHero-content-right-img{
				width: 100%;
			}
			.aboutHero-content-right-text{
				height: fit-content;
				align-items: center;
				text-align: center;
				padding: 0.5rem;

				.text-name{
					font-size: 16px;
				}
				.text-designation{
					font-size: 16px;
				}
				.text-para{
					text-align: center;
					font-size: 8px;
				}
				.text-quote{
					width: 90%;
					text-align: center;
				}
			}
		}


	}
}


// Our History

.ourHistory{
	background-color: #EC1C24;
	color: #e4e4e4;
	width: 100%;
	// height: fit-content;
	overflow: hidden;
	display: flex;
}
.history-container{
	display: flex;
}

.history-left{
	width: 30%;
	// height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
	overflow: hidden;

	h1{
		font-size: 48px;
		font-family: MullerNarrow;
		text-transform: uppercase;
	}
	.history-left-line {
		width: 0.4rem;
		border-radius: 10px;
		background-color: #e4e4e4;
		position: relative;
		height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		transform-origin: top;
		transition: height 0.5s ease;
    }
}



.history-right{
	// height: min-content;
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-top: 2rem;
}
.history-text{
	margin-bottom: 3rem;
	h1{
		font-size: 128px;
		font-family: vorkurs;
		margin: 0;

		transform: translateX(4rem);
		opacity: 0;
	}
	p{
		font-family: MullerNarrow;
		font-size: 32px;
		// text-transform: uppercase;

		transform: translateY(2rem);
		opacity: 0 ;
		line-height: 1;
	}
}


@media only screen and (max-width: 768px){
	.history-container{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.history-left{
		width: 100%;
		height: fit-content;
		h1{
			margin: 0 1rem;
		}
	}
	.history-left-line{
		visibility: hidden;
	}
	.history-right{
		margin-top: 0;
		width: 90%;
		align-items: center;
		text-align: center;
		justify-content: center;
	}
	.history-text{
		margin-bottom: 1rem;
		h1{
			font-size: 42px;
		}
		p{
			font-size: 16px;
		}
	}
}











// Logo Ticker
.section-brandTicker {
	background-color: #EC1C24;
	// position: relative;
	padding: 3rem 0;
  }

  .ticker-title{
	display: flex;
	justify-content: center;
	color: #e4e4e4;
	h1{
		font-size: clamp(1.5rem, 4vw, 4rem);
		font-family: vorkurs;
		text-transform: uppercase;
	}
  }
  
  .ticker-container {
	// background-color: #EC1C24;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
  }
  
  .ticker-logo {
	// display: block;
	padding: 10px 20px;
	width: 200px;
	// height: 200px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	
	img {
	  max-width: 100%;
	  height: 100%;
	  object-fit: contain;
	}
  }


@media only screen and (max-width: 768px) {
	.section-brandTicker{
		padding-top: 1rem;
		margin: 0;
	}
	.ticker-logo{
		padding: 5px 2px;
	}
}









  


//   Accordion goals 

.accordion-goals{
	background-color: #EC1C24;
	display: flex;
	justify-content: center;
	height: fit-content;
	width: 100%;
}

.accordions{
	width: 90%;
	display: flex;
	align-items: start;
	justify-content: center;
	// gap: 4rem;
}

.accordion-box{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	padding-left: 1.7rem;
	background-color: #e4e4e4;
	margin: 2rem;
	min-height: 20rem;
	transition: height 1s ease;

	h1{
		margin: 0;
		font-family: vorkurs;
		color: #EC1C24;
		font-size: clamp(2rem, 4vw, 5rem);
	}
	.accordion-text {
		font-size: clamp(0.2rem, 4vw, 1rem);
		font-family: MullerNarrow;
		text-transform: uppercase;
		overflow: hidden;
		position: relative;
		display: -webkit-box;
		// -webkit-line-clamp: 5; 
		-webkit-box-orient: vertical;
		transition: all 1s ease;
		// max-height: 500px;
	  }

	  .toggle-btn-container{
		height: auto;
		display: flex;
		justify-content: end;
		align-items: end;
	  }
	
	  .toggle-btn {
		
		margin: 10px; 
		cursor: pointer;
		width: 40px;
		height: 40px;
		background-color: #EC1C24;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 1.5rem;
		transform-origin: center;
		transition: all 0.5s ease;
		
		&:hover {
		  background-color: #ff474e;	
		  color: #e4e4e4;
		}
	  }
}

@media only screen and (max-width: 768px) {
	.accordions{
		flex-direction: column;
		width: 100%;
	}
	.accordion-box{
		width: 90%;
		border-radius: 5px;
		min-height: 0px;
		height: fit-content;
		margin: 0.5rem;
		justify-content: flex-start;
	}
}




// Proud Moments Starts

.proudMoments{
	background-color: #EC1C24;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.proudMoments-title{
	h1{
		text-align: center;
		font-size: clamp(24px, 4vw, 82px);
		color: #e4e4e4;
		text-transform: uppercase;
		font-family: vorkurs;
	}
}

.proudMoments-images, .proudMoments-images-2{
	width: 85%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
	justify-content: center;
	align-items: center;
	text-align: center;

	img{
		border-radius: 10px;
		width: 100%;
		height: 400px;
		object-fit: cover;
		// margin: 1.5rem;
	}
	.image-container {
		position: relative;
		overflow: hidden;

		img {
			border-radius: 10px;
			width: 100%;
			object-fit: cover;
		}

		.image-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5); // Adjust transparency here
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transition: opacity 0.3s ease;
			cursor: pointer;

			.image-description {
				font-family: MullerNarrow;
				color: #fff;
				font-size: 16px;
				text-align: center;
				max-width: 80%;
			}
		}

		&:hover .image-overlay {
			opacity: 1;
		}
	}
}

.proudMoments-button, .proudMoments-button-2{
	width: fit-content;
	font-family: vorkurs;
	font-size: medium;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border-radius: 30px;
	border: 0;
	color: #EC1C24;
	background-color: #e4e4e4;
	font-size: 16px;
	margin: 2rem;
	padding: 1rem 2rem;
	transition: all 0.5s ease;

	&:hover{
		cursor: pointer;
		background-color: #ff7c7c;
		color: #e4e4e4;
	}
}

@media only screen and (max-width: 768px) {
	.proudMoments-images, .proudMoments-images-2{
		width: 90%;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		img{
			border-radius: 5px;
			height: auto;
		}
		.image-overlay{
			img{
				height: auto;
			}
			.image-description{
				font-size: 8px !important;
			}
		}
	}
}

// Proud Moment end




// Members start

.section-members{
	width: 100%;
	background-color: #EC1C24;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4rem 0;

}

.members-title{
	display: flex;
	justify-content: center;
	transform: translateY(25%);
	opacity: 0;
	h1{
		font-size: clamp(48px, 4vw, 82px);
		color: #e4e4e4;
		font-family: vorkurs;
		text-transform: uppercase;
	}
}

.members-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	// row-gap: 1rem;
	// gap: 10rem;
}

.member-card{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0.5rem 2rem;
	transform: translateY(25%);
	opacity: 0;
	flex-basis: 30%;
	margin-bottom: 2rem;
	padding: 0;

	img{

		width: 250px;
		height: 250px;
		object-fit: cover;
		border-radius: 20px;
	}
	h1{
		font-family: MullerNarrow;
		font-size: clamp(12px, 4vw, 26px);
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #e4e4e4;
		cursor: default;
	}
	h3{
		cursor: default;
		font-family: MullerNarrow;
		font-weight: lighter;
		font-size: clamp(16px, 4vw, 32px);
		margin: 0;
		text-transform: uppercase;
		color: #e4e4e4;
		transition: all 1s ease;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			// left: 50%;
			width: 0; // Initially, the width is zero
			height: 1.5px;
			margin: 0;
			background-color: #e4e4e4;
			transition: width 0.5s ease; 
		}
	
		// &:hover::before {
		// 	width: 25%; // Full width on hover
		// }
	}
}

@media only screen and (max-width: 768px) {
	.member-card{
		margin: 1rem 2rem;
		img{
			width: 100px;
			height: 100px;
		}
	}
}

// members end

// Services Start

.section-services{
	padding: 0;
	margin: 0 0;
	width: 100%;
	height: max-content;
	background-color: #EC1C24;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #e4e4e4;
	text-align: center;

	.services-title{
		h1{
			font-family: vorkurs;
			font-size: clamp(48px, 4vw, 82px);
			text-transform: uppercase;
			cursor: default;
			margin-bottom: 0;
			transform: translateY(25%);
			opacity: 0;
		}
	}
	.services-container{
		transform: translateY(25%);
		opacity: 0;
		padding: 1rem;
		margin: 4rem 0;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		gap: 4rem;

		.service-box{
			// width: 30%;
			width: 13%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			
			img{
				width: 25%;
				height: auto;
			}

			h1{
				font-family: vorkurs;
				font-size: 1rem;
			}
	
			p{
				font-size: 12px;
				font-family: MullerNarrow;
				font-weight: lighter;
				text-align: justify;
			}

		}

		
	}
}

@media only screen and (max-width:768px){
	.section-services{

		.services-container{
			gap: 1.5rem;

			.service-box{
				width: 40%;

				img{
					width: 80%;
				}
				p{
					font-size: 8px;
				}
			}


		}
	}
}

.footer-line{
	margin: 0;
	padding: 0;
	border: 1px solid #e4e4e4;
}


// specific Project ends







// Projects Page starts

.container-ProjectsPage{
	height: 100vh;
	overflow: hidden;
}

// Location button

.location-dropdown {
	font-family: MullerNarrow;
	width: 20%;
	position: absolute;
	margin-left: 10rem;
	margin-top: 3rem;
	letter-spacing: 5%;
	z-index: 20;
}

.location-dropdown button {
	font-family: MullerNarrow;
	background-color: #EC1C24 !important;
	height: fit-content;
	width: fit-content;
	color: #e4e4e4 !important;
	padding: 1.1rem;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	text-transform: uppercase;
  }
  
  .location-dropdown ul {
	position: absolute;
	top: 100%; /* Position the menu below the button */
	left: 0;
	width: fit-content;
	background-color: #EC1C24;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none; /* Hide the menu initially */
  }
  
  .location-dropdown li {
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
	width: 100%;
  }
  
  .location-dropdown:hover ul {
	display: block; /* Show the menu on hover */
  }
  
  .location-dropdown li {
	color: #e4e4e4;
	text-decoration: none;
	transition: all 0.2s;

  }
  
  .location-dropdown li:hover {
	background-color: #f1f1f1;
	color: #EC1C24;
	cursor: pointer;
  }
  
  .location-dropdown button[selected] { /* Styling for selected location */
	background-color: #fff;
	color: #EC1C24;
  }


//   Project Cards 

.projectscard-container{
	position: relative;
	height: 84vh;
	margin-top: 16vh;
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	overflow-x: auto;
}

.projectCard {
    height: 100%;
    width: 20% !important;
    position: relative;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	
	cursor: url('./assets/img/hand-grab-o-32.png'), grab;
	user-select: none;
	&:active{
		cursor: url('./assets/img/hand-grab-o-32.png'), grabbing;
	}
	  

	&.show-card {
		display: flex;
		opacity: 1;
	  }
	
	  &:not(.show-card) {
		display: none;
		opacity: 0;
	  }
	.project-link{
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
	}

    .projectCard-bgImage {
        width: 100%;
        height: 100% !important;
        overflow: hidden;
        position: absolute;
		opacity: 0;
		transition: all 0.3s ease;
		
        img {
			position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
			transform: scale(110%);
			transform-origin: center;

        }

    }
	.projectCard-bgImage:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000000;
		opacity: 0.5;
		transition: opacity 0.3s;
		z-index: 1;
		height: 100%;
	}

	.projectCard-mainContent{
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;

		img{
			width: 100%;
			height: 50vh;
			object-fit: cover;
			transform: scale(110%);
			transform-origin: center;
			transition: all 0.5s ease;
		}
		h1{
			font-family: vorkurs;
			font-size: clamp(2rem, 4vw , 0.5rem);
			margin-bottom: 0;
			transition: all 0.3s ease;
			
		}
		h3{
			font-family: MullerNarrow;
			text-transform: uppercase;
			font-weight: lighter;
			margin-top: 0;
			transition: all 0.3s ease;
		}



	}

	.projectCard-mainContent-text{
		text-decoration: none !important;
		color: #000000;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: wrap;
		text-align: left;
		
	}

	.projectCard-mainContent-img{
		width: 70%;
		height: 50vh;
		overflow: hidden;
		display: flex;
		text-align: center;
		align-items: flex-end;
		justify-content: center;
		
		.number-overlay{
			position: absolute;
			z-index: 5;
			color: #e4e4e4;
			margin-bottom: 2rem;
			.overlay-text{
				transform: translateY(100%);
				font-size: 0.8rem;
				margin: 0;
				letter-spacing: 5px;
				overflow: hidden;
				p{
					transition: all 0.5s;
					margin: 0;
					transform: translateY(-100%);
				}
			}
			.overlay-number{
				transition: all 0.5 ease;
				overflow: hidden;
				display: flex;

				h1{
					font-family: bison;
					font-size: 128px;
					margin: 0;
					padding: 0;
					opacity: 0;
					transition: opacity 0.1s;
				}
			}
		}
		
	}
	.projectCard-mainContent-img:before{
			content: "";
			position: absolute;
			width: 70%;
			height: 50vh;
			// top: 0;
			// left: 0;
			// right: 0;
			// bottom: 0;
			background: #EC1C24;
			mix-blend-mode: multiply;
			z-index: 1;
			opacity: 0;	
			transition: all 0.5s ease;
	}

}

.projectCard:hover{
	.projectCard-bgImage{
		// height: 100%;
		opacity: 1;
		img{
			transform: scale(1);
		}
	}
	.projectCard-mainContent-img{
		.number-overlay{
			.overlay-text p{
				transform: translateY(0);
			}
			.overlay-number h1{
				opacity: 1;
				
			}
		}
	}
	.projectCard-mainContent-img:before{
		opacity: 1;
	}
	.projectCard-mainContent{
		img{
			transform: scale(100%);
		}
		h1{
			opacity: 1 !important;
			color: #e4e4e4;
			display: flex;
			flex-wrap: wrap;
		}
		h3{
			color: #e4e4e4;
		}
	}
}

@media only screen and (max-width: 768px) {
	.container-ProjectsPage{
		height: fit-content;
		overflow: auto;
	}

	.location-dropdown{
		height: fit-content;
		margin-left: 1rem;
		margin-top: 5rem;
		position: fixed;
	}
	.location-dropdown button{
		height: fit-content;
		width: fit-content;
		padding: 0.7rem;
		font-size: 1.5rem;
	}

	.projectscard-container{
		height: fit-content;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.projectCard{
		width: 100% !important;
	}
	.projectCard-mainContent{
		text-align: center !important;
	}
	.projectCard-mainContent-text{
		text-align: center !important;
		justify-content: center !important;
	}
	.projectCard:hover{
		.projectCard-bgImage{
			opacity: 0;
		}
		.projectCard-mainContent-img{
			.number-overlay{
				.overlay-text p{
					transform: translateY(0);
				}
				.overlay-number h1{
					opacity: 1;
				}
			}
		}
		.projectCard-mainContent-img:before{
			opacity: 1;
		}
		.projectCard-mainContent{
			img{
				transform: scale(100%);
			}
			.projectCard-mainContent-text{

				h1{
					color: #000000;
					display: flex;
					flex-wrap: wrap;
				}
				h3{
					color: #000000;
				}
			}
		}
	}
}